{% extends "base.html" %}

{% block title %}
{{ brand.name }} - Edit
{% endblock %}

{% block content %}
{% include "header.html" %}
<div class="main-section">
  <div class="jumbotron edit-brand-hero text-center">
  <h1>Edit {{brand.name}}</h1>
  </div>
  <div class="container">
    <div class="col-xs-12 col-sm-6 col-sm-offset-4 col-md-4 col-md-offset-4">
      <div class="form-wrapper">
        <form action="{{ url_for('editWhiskey',id = brand.id)}}" method = "post" enctype="multipart/form-data">
          <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
          <div class="form-group">
           <legend>Whiskey Information</legend>
          </div>
  				<div class="form-group">
  				  <label for="name">Name:</label>
  				  <input type ="text" class="form-control" value="{{brand.name }}" maxlength="100" name="name">
  				</div>
          <div class="form-group">
  				  <label for="description">Description:</label>
  				  <input type ="text" class="form-control" value="{{brand.description }}" maxlength="300" name="description">
  				</div>
          <div class="form-group">
  				  <label for="file">Image:</label>
  				  <input type="file" class="form-control" name="file">
  				</div>
          <div class="form-group">
  				  <label for="type">Type:</label>
  				  <input type ="text" class="form-control" value="{{brand.type }}"maxlength="100" name="type">
  				</div>
          <div class="form-group">
  				  <label for="manufacturer">Manufacturer:</label>
  				  <input type ="text" class="form-control" value="{{brand.manufacturer }}"maxlength="100" name="manufacturer">
  				</div>
          <div class="form-group">
  				  <label for="abv">ABV:</label>
  				  <input type ="text" class="form-control" value="{{brand.abv }}" maxlength="10" name="abv">
  				</div>
          <div class="form-group">
  				  <label for="region">Region:</label>
            <select class="form-control" type ="text" value="{{brand.region }}"class="form-control" name="region">
                {% for region in all_regions %}
                <option value="{{region.name}}">{{region.name}}</option>
                {% endfor %}
            </select>
  				</div>
          <div class="form-group">
  				      <button type="submit" class="btn btn-block btn-primary" id="submit" type="submit">
  				            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Edit</button>
  				</div>
  			</form>
        <a href="{{url_for('showApp')}}"><button role="button" class="btn btn-block btn-danger" id="cancel-btn">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Cancel</button></a>
      </div>
    </div>
  </div>
  </div>
</div>
{% include "footer.html" %}
{% endblock %}
