{% extends "base.html" %}

{% block title %}
404 Error
{% endblock %}

{% block content %}
{% include "header.html" %}

<div class="main-section">
  <div class="jumbotron landing-page text-center">
    <div class="container">

      <h1>Page Not Found - Error 500</h1>
      <p>Sorry, but the page you were trying to view does not exist.</p>

      <p>
        <div class="row">
          <h5>Search By :</h5>
          <a class="btn btn-primary btn-lg" href="{{ url_for('showRegions') }}" role="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Region</a>
          <a class="btn btn-primary btn-lg" href="{{ url_for('showBrands') }}" role="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Brand</a>
        </div>
      </p>
    </div>
  </div>


</div>

{% include "footer.html" %}
{% endblock content %}
