{% extends "base.html" %} {% block title %} Sign In - {% endblock %} {% block
content %} {% include "header.html" %}
<div class="main-section login-screen">
  <div class="container">
    <div class="col-xs-12 col-sm-6 col-sm-offset-4 col-md-4 col-md-offset-4">
      <div class="row">
        <!-- Result Div -->
        <div id="result" class="card card-container"></div>
        <!-- Profile Card -->
        <div id="login-card" class="card card-container">
          <h3 class="text-center">Please Sign In</h3>
          <p class="lead text-center">To add, update, or delete.</p>
          <img
            class="profile-img-card"
            id="profile-img"
            src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
          />
          <p class="profile-name-card" id="profile-name"></p>
          <p class="lead text-center">Sign in with Google+</p>
          <div class="Oauth-con">
            <div id="signIn-google" class="center-block">
              <div
                id="g_id_onload"
                data-client_id="311267241681-02ea4gbkarq64lma304s1d3u60ca5upt.apps.googleusercontent.com"
                data-login_uri="/gconnect"
                data-auto_prompt="false"
                data-context="signin"
                data-ux_mode="popup"
                data-callback="handleCredentialResponse"
                data-nonce="{{ STATE }}"
              ></div>

              <div
                class="g_id_signin"
                data-type="standard"
                data-shape="rectangular"
                data-theme="outline"
                data-text="sign_in_with"
                data-size="large"
                data-logo_alignment="left"
              ></div>
            </div>
          </div>
          <p class="lead text-center">Email / Pass does not function yet</p>
          <form class="form-signin">
            <input
              type="hidden"
              name="_csrf_token"
              value="{{ csrf_token() }}"
            />
            <span class="reauth-email" id="reauth-email"></span>
            <input
              autofocus
              class="form-control"
              id="inputEmail"
              placeholder="Email address"
              required
              type="email"
            />
            <input
              class="form-control"
              id="inputPassword"
              placeholder="Password"
              required
              type="password"
            />
            <button
              class="btn btn-lg btn-primary btn-block btn-signin"
              type="submit"
            >
              Sign in
            </button>
            <div class="checkbox" id="remember">
              <label>
                <input type="checkbox" value="remember-me" />
                Remember me
              </label>
            </div>
            <a class="forgot-password" href="#"> Forgot the password? </a>
          </form>
          <!-- /form -->
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function handleCredentialResponse(response) {
    console.log({ response });

    console.log("Encoded JWT ID token: " + response.credential);

    fetch(`/gconnect?state={{ STATE }}`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ credential: response.credential }),
    })
      .then((response) => response.json())
      .then((data) => {
        console.log("Login response:", data);
        if (data.success) {
          window.location.href = "/";
        } else {
          alert("Login failed.");
        }
      })
      .catch((error) => {
        console.error("Error logging in:", error);
      });
  }
</script>
{% include "footer.html" %} {% endblock content %}
