{% extends "base.html" %}

{% block title %}
Regions
{% endblock %}

{% block content %}
{% include "header.html" %}
<div class="main-section">
  <div class="jumbotron regions-hero text-center">
    <h2 class="title">Regions</h2>
    <p class="lead">Slide down to find the region your looking for.</p>
    <p>
      <div class="row">
        <h5>Search By :</h5>
        <a class="btn btn-primary btn-lg" href="{{ url_for('showBrands') }}" role="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Brand</a>
      </div>
    </p>
  </div>
<div class="container">
  <div class="col-xs-12 col-sm-6 col-sm-offset-4 col-md-4 col-md-offset-4">
    <ul class="list-unstyled regions-list">
      {% for region in regions %}
      <li>
        <div class="region-name">
          <a <a class="btn btn-primary btn-lg" href="{{ url_for('single_region', region=region.name ) }}">                      <h3>{{region.name}}</h3>
          </a>
        </div>
        </li>
      {% endfor %}
    </ul>
  </div>

</div>

</div>
{% include "footer.html" %}
{% endblock %}
