{% extends "base.html" %}

{% block title %}
{{ brand }} - WBR
{% endblock %}

{% block content %}
{% include "header.html" %}
<div class="main-section">
  <div class="jumbotron single-brand-hero text-center">
    <img src="" alt="">
  </div>
  <div class="container">
    <div class="col-md-12">
      <div class="brand-details">
        <div class="col-md-6 col-md-offset-3">
          <div class="well">
            {% for attr in brand_query %}
              {% if attr.img_name %}
                  <p><img id="brand-img" src="/uploads/{{attr.img_name}}" /></p>
              {% else %}

              {% endif %}
              <h2 class="title">{{ attr.name }}</h2>
              <p><span>Created By: </span>  <img src="{{creator.picture}}" class="img-circle" height='32' width='32'/> {{creator.name}} </p>
                <p><span>Description: </span> {{ attr.description }} </p>
                <p><span>Region: </span> {{ attr.region.name }} </p>
                <p><span>Type: </span>{{ attr.type }} </p>
                <p><span>ABV: </span> {{ attr.abv }}% </p>
                {%if 'username' not in session %}

                {% else %}
                    <div class="row edit-delete-btns text-right">
                    <a id="del-whiskey-btn" class="btn btn-primary btn-lg" href="{{url_for('editWhiskey', id=attr.id)}}" role="button"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
                    <a id="edit-whiskey-btn" class="btn btn-danger btn-lg" href="{{ url_for('deleteWhiskey', id=attr.id) }}" role="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a>
                  </div>
                {% endif %}
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "footer.html" %}
{% endblock %}
